pragma solidity ^0.8.0;

contract CryptoBank {
    mapping(address => uint) public balances;

    function deposit() public payable {
        require(msg.value > 0, "Необходимо отправить ненулевое количество эфира");
        balances[msg.sender] += msg.value;
    }

    function withdraw(uint amount) public {
        require(balances[msg.sender] >= amount, "Недостаточно средств на счете");
        payable(msg.sender).transfer(amount);
        balances[msg.sender] -= amount;
    }

    function checkBalance() public view returns (uint) {
        return balances[msg.sender];
    }
}
// SPDX-License-Identifier: MIT
pragma solidity ^0.8.0;

contract CryptoBank {
    mapping(address => uint) public balances;

    event Deposit(address indexed sender, uint amount);
    event Withdrawal(address indexed receiver, uint amount);

    function deposit() public payable {
        require(msg.value > 0, "Необходимо отправить ненулевое количество эфира");
        balances[msg.sender] += msg.value;
        emit Deposit(msg.sender, msg.value);
    }

    function withdraw(uint amount) public {
        require(balances[msg.sender] >= amount, "Недостаточно средств на счете");
        payable(msg.sender).transfer(amount);
        balances[msg.sender] -= amount;
        emit Withdrawal(msg.sender, amount);
    }

    function checkBalance() public view returns (uint) {
        return balances[msg.sender];
    }
}
